<!-- Right sidebar -->
<aside class="md:w-[240px] lg:w-[300px] shrink-0">
  <div class="space-y-6">
    <%#= render 'articles/partials/right_sidebar/newlsetter' %>
    <%#= render 'articles/partials/right_sidebar/sponsor' %>
    <%#= render 'articles/partials/right_sidebar/ebook' %>
  </div>
</aside>