<li class="relative py-2">
  <div class="flex items-start mb-1">
    <div class="absolute left-0 h-full w-px bg-slate-200 dark:bg-slate-800 self-start ml-[28px] -translate-x-1/2 translate-y-3" aria-hidden="true"></div>
    <div class="absolute left-0 h-14 w-14 flex items-center justify-center border border-slate-200 dark:border-slate-800 dark:bg-gradient-to-t dark:from-slate-800 dark:to-slate-800/30 bg-white dark:bg-slate-900 rounded-full">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16">
        <path fill="#DE4D3B" d="M15.912 6.545h-7.75v3.273h4.393c-.702 2.182-2.437 2.91-4.428 2.91-2.12.002-3.992-1.368-4.601-3.37a4.693 4.693 0 0 1 1.959-5.307 4.854 4.854 0 0 1 5.722.33l2.414-2.265C10.947-.31 6.964-.69 3.867 1.186.771 3.06-.683 6.735.308 10.18c.99 3.445 4.185 5.822 7.819 5.82 4.477 0 8.525-2.91 7.785-9.456Z" />
      </svg>
    </div>
    <div class="pl-20 space-y-1">
      <div class="text-xs text-slate-500 uppercase">May 2020 <span class="text-slate-400 dark:text-slate-600">·</span> Present</div>
      <div class="font-aspekta font-[650] text-slate-800 dark:text-slate-100"><%= role.position %></div>
      <div class="text-sm font-medium text-slate-800 dark:text-slate-100"><%= role.company %></div>
      <div class="text-sm text-slate-500 dark:text-slate-400"><%= role.description %></div>
    </div>
  </div>
</li>
